<html>
<head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <% include partial/nav.ejs %>
  <h1>
    This is the contact of <%=qs.name %>
  </h1>
    <label>Name:</label><%=qs.name %><br><br>
    <label>Father Name:</label><%=qs.father %><br><br>
    <label>DOB:</label><%=qs.dob %><br><br>
    <label>Email:</label><%=qs.email %><br><br>
    <label>Address:</label><%=qs.address %><br><br>
    <label>College:</label><%=qs.college %><br><br>
    <label>Mobile No:</label><%=qs.mobile %><br><br>
</body>
</html>
